@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  /* primary colors */
  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  /* neutral colors */
  --white: hsl(0, 0%, 100%);
  --main-para: hsla(0, 0%, 100%, 0.75);
  --stats-heading: hsla(0, 0%, 100%, 0.6);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Lexend Deca', sans-serif;
}

body,
.main__component,
.section_text,
.stats {
  display: grid;
}

body {
  place-items: center;
  min-height: 100vh;
  background-color: var(--main-bg);
}

p {
  font-size: 15px;
  color: var(--main-para);
}

.main__component {
  background-color: var(--card-bg);
  max-width: 375px;
  gap: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.img__container {
  background-color: var(--soft-violet);
  background-image: url('../images/image-header-mobile.jpg');
  background-size: 100% 100%;
  min-height: 300px;
  background-blend-mode: multiply;
  border-radius: 1rem 1rem 0 0;
}

.section_text {
  padding: 2.45em;
  text-align: center;
  gap: 1rem;
}

.section_text > h1 {
  font-weight: 700;
  color: var(--white);
}

.section_text > h1 > span {
  color: var(--soft-violet);
}

.stats {
  gap: 1rem;
  text-transform: uppercase;
}

.stat__heading {
  color: var(--white);
}

.stat > p {
  color: var(--stats-heading);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--white);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 800px) {
  .main__component {
    max-width: 1440px;
    display: flex;
    gap: 0;
  }

  .img__container {
    order: 2;
    width: 100%;
    flex-grow: 1;
    border-radius: 0;
    background-image: url('../images/image-header-desktop.jpg');
  }

  .section_text {
    order: 1;
    flex-grow: 1;
    gap: 2rem;
    text-align: start;
    padding: 3em 5em;
  }

  .section_text > h1 {
    font-size: 2.5rem;
  }

  .stats {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
  }
}
